main{
  height: 100vh
}


.continer-colores {
  display: flex;
  height: 100%;
}

.continer-colores > div {
  background:tomato;
  margin: 1px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  font-display: center;
}

